/* SECTION General Style */
* {
  margin: 0;
  padding: 0;
}

/* SECTION Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0 20px 0;
}

.logo {
  height: 90px;
  width: 90px;
}

h1 {
  font-size: 90px;
}

/* SECTION Main container. */

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button container */

.button-container {
  display: inherit;
  flex-direction: column;
  gap: 30px;
}

.grid-colors {
  display: inherit;
  flex-direction: column;
  gap: 10px;
}

/* Modify grid */

.modify-grid {
  display: inherit;
  flex-direction: inherit;
  gap: 10px;
}

.display-size {
  display: inherit;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
}
