/* SECTION General Style */
* {
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: 65px;
  background-color: rgba(32, 6, 6, 0.8);
}

/* SECTION Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo {
  height: 90px;
  width: 90px;
}

h1 {
  font-size: 90px;
}

/* SECTION Main container. */

.main-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}

/* Button container */

.button-container {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
  height: 700px;
}

.grid-colors {
  display: inherit;
  flex-direction: column;
  gap: 25px;
}

button {
  height: 40px;
}

/* Modify grid */

.modify-grid {
  display: inherit;
  flex-direction: inherit;
  gap: 25px;
}

.display-size {
  display: inherit;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
}

/* SECTION Grid container */

.grid-container {
  display: flex;

  /* Test property */
  border: 4px solid black;
  border-radius: 4px;
}

.grid-element {
  display: inline-flex;
  align-items: flex-start;
  height: 700px;
  width: 800px;
}

/* SECTION Footer*/

footer {
  position: fixed;
  margin-top: 50px;
  width: 100%;
  height: 65px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}

.github {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-decoration: none;
}

.github > img {
  height: 45px;
}
